{% extends "base.html" %}

{% block extra_js %}
{% load socketio_tags %}
{% socketio %}
    <script type="text/javascript" src="{{STATIC_URL}}js/device.js"></script>
    <script type="text/javascript">
        var room = "asteroids";
	    var socket;
	    var last_sent = (new Date()).getTime();
	    var threshold = 250; // msec between sends

        var canv;
        var context;

		var ax, ay, az = 0;

        window.addEventListener("devicemotion", update_accel, false);
        
        function update_accel(e) {
        	// gets the accelerometer values
        	var a = deviceMotion(e);
        	ax = a.accelerationIncludingGravity.x;
        	ay = a.accelerationIncludingGravity.y;
            $("#xaccel").html(ax);
            $("#yaccel").html(ay);
            if ((new Date()).getTime() - last_sent > threshold) {
	            send_data();
            }
        }

       
        function send_data() {
        	//sends the current values of the phone to the server.
        	$("#status").html("Sending");
        	last_sent = (new Date()).getTime(); // update the time to now.
			socket.send({room: room, action: 'movement', ax: ax, ay: ay });
        }
        
	    $(function() {
	        socket = new io.Socket();
	        socket.connect();
	        socket.on('connect', function() {
		        socket.subscribe(room);
	        });
	        
        });
            
    </script>
{% endblock %}

{% block main %}
    <h1>Phone coordinates</h1>
    <p id="status">Not sending</p>
        <h2>Accelerometer</h2>
        <p>X: <span id="xaccel"></span></p>
        <p>Y: <span id="yaccel"></span></p>

{% endblock %}
