{% extends "base.html" %}
{% block title %}Multiplayer asteroids{% endblock %}
{% block extra_js %}
{% load socketio_tags %}
{% socketio %}
    <script type="text/javascript">
        var room = "asteroids";
	    var socket;

        var canv;
        var context;
        
        var max_speed = 5;
        var full_speed = 3;
        var half_speed = 1;
        
        var maxfrac = 0.05;
        var maxx = 0;
        var maxy = 0;
        
        var drag = 0.985;

        var rotation = 0;
        var rot_rad = 0
        var x = 500;
        var y = 350;
        var vx = 0;
        var vy = 0;
        var thrust = 0;
        
        var plyr = new player();
        
        var width = 0;
        var height = 0;
        
        function player() {
            this.x = 0; // make this choose random on width
            this.y = 0; // make this choose random on height
            this.vx = 0;
            this.vy = 0;
            this.rotation = 0;
            this.rot_rad;
        }

        window.addEventListener("keypress", dokey, true);
        
        function dokey(e){
            switch (e.keyCode){
                case 46:
                   rotate(15);
                   break;
               case 44:
                    rotate(-15);
                    break;
                case 32:
                    accelerate(full_speed);
                    break;
            }
        }

        
        function update_game() {
            // this is the main game loop
            //console.log("r: " + rotation + " vx: " + vx + " vy: " + vy);
            brake(drag);
  
            if (plyr.vx > maxx) {
                brake(maxx / plyr.vx);
            }
            if (plyr.vy > maxy) {
                brake(maxy / plyr.vy);
            }
                    
            plyr.x+= plyr.vx;
            plyr.y+= plyr.vy;
            
            if (plyr.x < 0) {
                plyr.x = width;
            }
            if (plyr.x > width) {
                plyr.x =0;
            }
            if (plyr.y < 0) {
                plyr.y = height;
            }
            if (plyr.y > height) {
                plyr.y = 0;
            }
            
            //console.log("x: " + x + " y: " + y + " vx: " + vx + " vy: " + vy + " r: " + rotation);
            canv.width = canv.width;
            draw_ship(plyr.rot_rad, plyr.x, plyr.y);
        }
        
        
        function update_ship(ax, ay) {
            // work out the rotation.
            var rotval = -(ay)*5;
            rotate(rotval);
            
            // ax comes in range [0-10] as it was absoluted before being passed
            // 9.8 (10ish) represents phone held on it's edge facing up so should be stop.
            // 0 represents phone held flat so screen facing up so should be full speed.
            // so we basically need to invert it.
            if (ax < 3) {
                accelerate(full_speed);
            } else if (ax < 6 && ax >= 3) {
                accelerate(half_speed);
            } else {
                accelerate(0);
            }

        }

        function rotate(angle) {
            plyr.rotation += angle;
            //rotation = Math.round(rotation);
            if (plyr.rotation < 0){
                plyr.rotation += 360;
            } else if (plyr.rotation > 360) {
                plyr.rotation -= 360;
            }

            plyr.rot_rad = plyr.rotation * (Math.PI/180);        
        }

        function accelerate(thrust) {
            plyr.vx += Math.sin(plyr.rot_rad)*thrust;
            plyr.vy += -(Math.cos(plyr.rot_rad)*thrust);      
        }

        function brake (thedrag) {
            plyr.vx *= thedrag;
            plyr.vy *= thedrag;
        }

        function draw_ship(rot, x, y) {
            context.save();
            context.translate(x,y);
            context.rotate(rot);
            context.beginPath();
            context.moveTo(0,0);
            context.lineTo(-10, 15);
            context.lineTo(0, -15);
            context.lineTo(10, 15);
            context.lineTo(0, 0);
            context.strokeStyle = "#000";
            context.stroke();
            context.restore();
        }
        
	    $(function() {
	        socket = new io.Socket();
	        socket.connect();
	        socket.on('connect', function() {
		        socket.subscribe(room);
	        });
	        
            socket.on('message', function(data) {
                switch (data.action) {
                    case 'player_state':
                        update_ship(data.ax, data.ay);
                        break;
                }
            });
            canv = document.getElementById("canv");
            width = canv.width;
            height = canv.height;
            maxx = width * maxfrac;
            maxy = height * maxfrac;
            
            //console.log("w:" + width + " h: " + height);
            context = canv.getContext("2d");
            
            window.setInterval("update_game()", 20);
        });
        

    
    </script>
{% endblock %}

{% block main %}
    <canvas width="1200" height="600" id="canv" style="border: 1px solid black"></canvas>
{% endblock %}
