{% extends "base.html" %}

{% block title%}Light control demo{% endblock%}
{% block extra_js %}
{% load socketio_tags %}
{% socketio %}
    <script type="text/javascript" src="{{STATIC_URL}}js/device.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/light.js"></script>
{% endblock %}

{% block main %}

    <h1>Light control demo</h1>
    <p>By changing the orientation of the phone you can change the colour of an
    RGB light. This will work on the X/Y axis from a desktop using a mouse
    but you can't control z which will be static.</p>
    
    <div id="coords">
        <p>X: <span id="xval"></span></p>
        <p>Y: <span id="yval"></span></p>
        <p>Z: <span id="zval"></span></p>

    </div>
{% endblock %}
