{% extends "base.html" %}

{% block extra_js %}
{% load socketio_tags %}
{% socketio %}
    <script type="text/javascript">
        var room = "axis";
	    var socket;
	    var last_sent = (new Date()).getTime();
	    var threshold = 100; // msec between sends

		var ax, ay, az, tiltx, tilty, tiltz = 0;
			
		// don't need to use mozorientation at all. FF now accepts device api calls
		window.addEventListener("deviceorientation", update_gyro, true);

        window.addEventListener("devicemotion", update_accel, true);

		function update_gyro(e) {
			// gets the gyro position
			tiltx = e.gamma;
			tilty = e.beta;
			tiltz = e.alpha; // compass
			
			
            $("#xval").html(tiltx);
            $("#yval").html(tilty);
            $("#zval").html(tiltz);
            if ((new Date()).getTime() - last_sent > threshold) {
	            send_data();
            }
        }
        
        function update_accel(e) {
        	// gets the accelerometer values
        	ax = e.accelerationIncludingGravity.x;
        	ay = e.accelerationIncludingGravity.y;
        	az = e.accelerationIncludingGravity.z;
            $("#xaccel").html(ax);
            $("#yaccel").html(ay);
            $("#zaccel").html(az);
            if ((new Date()).getTime() - last_sent > threshold) {
	            send_data();
            }
        }

       
        function send_data() {
        	//sends the current values of the phone to the server.
        	$("#status").html("Sending");
        	last_sent = (new Date()).getTime(); // update the time to now.
			socket.send({room: room, action: 'movement', ax: ax, ay: ay, az: az, px: tiltx, py: tilty, pz: tiltz });
        }
        
	    $(function() {
	        socket = new io.Socket();
	        socket.connect();
	        socket.on('connect', function() {
		        socket.subscribe(room);
	        });
	        

        })
    
    </script>
{% endblock %}

{% block main %}

    <h1>Phone coordinates</h1>
    <p id="status">Not sending</p>
        <h2>Accelerometer</h2>
        <p>X: <span id="xaccel"></span></p>
        <p>Y: <span id="yaccel"></span></p>
        <p>Z: <span id="zaccel"></span></p>
        <h2>Gyro (Tilt)</h2>
        <p>X: <span id="xval"></span></p>
        <p>Y: <span id="yval"></span></p>
        <p>Z: <span id="zval"></span> (compass heading)</p>
{% endblock %}
