{% extends "base.html" %}

{% block extra_js %}
{% load socketio_tags %}
{% socketio %}
    <script type="text/javascript">
        var room = "axis";
	    var socket;

        // use this for Firefox
        window.addEventListener("MozOrientation", update_accelerometer, true);

        // Mobile Safari
        window.addEventListener("devicemotion", update_accelerometer, true);


        function update_accelerometer(e){
            // gets the accelerometer vals and passes them back
            var px, py, pz, ax, ay, az = 0;
            
            // need to do this to normalise Firefox back to spec
	        if(!e.gamma && !e.beta) {
		        // Firefox
		        e.gamma = -(e.x * (180 / Math.PI));
		        e.beta = -(e.y * (180 / Math.PI));
		        e.alpha = 0;
		        e.accelerationIncludingGravity = function() {
		        	this.x = 0;
		        	this.y = 0;
		        	this.z = 0;
	        	}
		        e.accelerationIncludingGravity.x = 0;
		        e.accelerationIncludingGravity.y = 0;
		        e.accelerationIncludingGravity.z = e.z;
	        } 

			px = e.gamma; // tilt x axis
			py = e.beta; // tilt y axis
			pz = e.alpha; // tilt z axis (actually compass)

			ax = e.accelerationIncludingGravity.x;
			ay = e.accelerationIncludingGravity.y;
			az = e.accelerationIncludingGravity.z;		
			
            $("#xaccel").html(ax);
            $("#yaccel").html(ay);
            $("#zaccel").html(az);
            $("#xval").html(px);
            $("#yval").html(py);
            $("#zval").html(pz);
            
	        socket.send({room: room, action: 'movement', ax: ax, ay: ay, az: az, px: px, py: py, pz: pz });
	        $("#status").text("sending");
        }
        
	    $(function() {
	        socket = new io.Socket();
	        socket.connect();
	        socket.on('connect', function() {
		        socket.subscribe(room);
	        });
        })

    
    </script>
{% endblock %}

{% block main %}

    <h1>Phone coordinates</h1>
    <p id="status">Not sending</p>
        <h2>Accelerometer</h2>
        <p>X: <span id="xaccel"></span></p>
        <p>Y: <span id="yaccel"></span></p>
        <p>Z: <span id="zaccel"></span></p>
        <h2>Gyro</h2>
        <p>X: <span id="xval"></span></p>
        <p>Y: <span id="yval"></span></p>
        <p>Z: <span id="zval"></span></p>
{% endblock %}
